/* Styles for the Advanced Markup assignment. */

body {
	font-family: 'Helvetica', sans-serif;
	font-size: 14px;
}

h1 {
	font-family: serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
}

h2 {
	font-family: serif;
	font-size: 18px;
	font-weight: 200;
	line-height: 1.1;
	margin-bottom: .8em;
}

/* Anchors */
a {
	outline: 0;
}
a img {
	border: 0px;
	text-decoration: none;
}
a:link, a:visited {
	color: #ccc;
	padding: 0 1px;
	text-decoration: none;
}
a:hover, a:active {
	color:#fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333;
}

.top-nav {
	width: 100%;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
	height: 35px;
	line-height: 30px;
	text-align: center;
}

.top-nav li {
	display: inline;
	text-decoration: none;
	border-right: 1px solid #bbb;

}

.top-nav li a {
	list-style-type: none;
	text-decoration: none;
	margin: 0;
	padding: 20px;
	color: #3cf;
}

aside {
	float: right;
	width: 30%;
	height: auto;
	background-color: gray;
}

aside ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

aside ul {
	margin-bottom: 30px;
}

#content {
	margin-bottom: 100px;
}

.poem li {
	list-style-type: none;
	margin: 0;
	padding: 0;

}

footer {
	width: 100%;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
}

.bottom-nav li{
	display: inline;
}

.bottom-nav li a {
	list-style-type: none;
	margin: 0;
	padding: 8px;

}

footer p {
	font-size: 11px;
	text-align: right;
}

#smalltext {
	font-size: 10px;
	line-height: 8px;
	text-align: right;
}

/* Tables */
table {
	border: 1px solid black;
	border-collapse: collapse;
	width: 95%;
}
 
  /* Thead */
thead {
	text-align: left;
	background-color: #4caf50;
	color: white;
	border: 1px solid black;
}

th {
	text-align: left;
	border: 1px solid black;
}
td {
	height: 20px;
	border-bottom: 1px solid #000;
	border: 1px solid black;
}

caption {
	caption-side: bottom;
}
 
