/* Styles for the Advanced Markup assignment. */

body {
	font-family: 'Playfair Display', Helvetica, sans-serif;
	font-size: 14px;
	background-color: #FCF7C5;
	color: #29221F;
}

h1 {
	font-family: 'Special Elite', serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
	color: #13747D;
}

h2 {
	font-family: 'Special Elite', serif;
	font-size: 18px;
	font-weight: 200;
	line-height: 1.1;
	margin-bottom: .8em;
	color: #0ABFBC;
}

/* Anchors */
a {
	outline: 0;
}

a:link, a:visited {
	color: #FCF7C5;
	padding: 0 1px;
	text-decoration: none;
}

a:hover, a:active {
	color:#FC354C;
	text-decoration: none;
	text-shadow: 1px 1px 1px #13747D;
}

.top-nav {
	width: 100%;
	border: 1px solid #BC2839;
	background-color: #FC354C;
	height: 35px;
	line-height: 30px;
	text-align: center;
}

.top-nav li {
	display: inline;
	text-decoration: none;
	border-right: 1px solid #FCF7C5;

}

.top-nav li a {
	list-style-type: none;
	text-decoration: none;
	margin: 0;
	padding: 20px;
}

.active {
	text-decoration: line-through;

}

aside {
	float: right;
	width: 30%;
	height: auto;
	background-color: #13747D;
	padding-left: 15px;
	padding-right: 15px;
	border: inset #0ABFBC;
	color:#FCF7C5;
}

aside ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

aside ul {
	margin-bottom: 30px;
}

#content {
	margin-bottom: 100px;
	width: 60%
}

.poem li {
	list-style-type: none;
	margin: 0;
	padding: 0;

}

.poem {
	font-family:'Playfair Display', cursive; 
	font-size: 30px;
	font-weight: 400;
	font-style: italic;
	letter-spacing: 2px;
	line-height: 1.4;
}

.bio-photo img {
	float: left;
	width: 150px;
	margin-bottom: 20px;
	margin-right: 20px;
	border: 1px solid black;
}

.bio-photo p {
	font-size: 6px;
}

footer {
	width: 100%;
	border: 1px solid #e7e7e7;
	background-color: #29221F;
}

.bottom-nav li{
	display: inline;
}

.bottom-nav li a {
	list-style-type: none;
	margin: 0;
	padding: 8px;

}

footer p {
	font-size: 11px;
	text-align: center;
	color: #FCF7DB;
}

.smalltext {
	font-size: 10px;
	line-height: 1.1;
	text-align: center;
}

.smalltext a {
	color: #0ABFBC;
	padding: 0 1px;
	text-decoration: none;
}

/* Tables */
table {
	border: 1px solid black;
	border-collapse: collapse;
	width: 95%;
}
 
  /* Thead */
thead {
	text-align: left;
	background-color: #0ABFBC;
	color: white;
	border: 1px solid black;
}

th {
	text-align: left;
	border: 1px solid black;
}
td {
	height: 20px;
	border-bottom: 1px solid #000;
	border: 1px solid black;
}

caption {
	caption-side: bottom;
}
 
